{{#if artists.length }}
    <ul>
        {{#each artists}}
            <li>
                {{this.name}}
            </li>
        {{/each}}
    </ul>
{{/if}}

{{#if tracks.length }}
    <ul>
        {{#each tracks}}
            <li>
                {{this.name}}
            </li>
        {{/each}}
    </ul>
{{/if}}
