<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Spotify</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
</head>
<body>
    <header class="header">
        <img src="/img/logo.svg" class="logo" />

        <form class="search" action="/search" method="get">
            <input class="search-field"
                   placeholder="Pesquisar"
                   name="query"
                   required
            />
            <button type="submit">Pesquisar</button>
        </form>
    </header>
    <main class="container">
        {{{body}}}
    </main>
    <footer class="footer"></footer>
</body>
</html>
